h2 {
  margin: 0.2em;
}
button {
  padding: 0.4em 0.8em;
}
textarea {
  box-sizing: border-box;
  width: 100%;
  height: 30vh;
  padding: 0.3em;
}
#container {
  width: 100%;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5em;
}
#output {
  min-height: 30vh;
}

