body{
  font-size: 1rem;
}
h2 {
  margin: 0.2em;
}
button {
  font-size: 1em;
  padding: 0.4em 0.8em;
}
textarea {
  box-sizing: border-box;
  width: 100%;
  height: 30vh;
  font-family: monospace;
  font-size: 1em;
  padding: 0.3em;
}
#container {
  width: 100%;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5em;
}
#output {
  white-space: pre-line;
  background: white;
  min-height: 30vh;
  font-family: monospace;
  font-size: 1.1em;
  padding: 0.1em;
}
