<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="robots" content="{{ page.robots }}">
  <title>{{ page.title }}</title>
  {% include head.html %}
  <!-- General & Cashe-Control -->
  <!-- <link rel="stylesheet" href="{{ '/style.css' | relative_url }}"> -->
  <link rel="stylesheet" href="{{ '/style.css' | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}">
</head>
<body>
  <div id="content">
    {{ content }}
  </div>
  <script type="module" src="entry.js"></script>
</body>
</html>
