name: Build and deploy

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Setup Pages
        uses: actions/configure-pages@v5

      - name: Build with Jekyll
        uses: actions/jekyll-build-pages@v1
        with:
          source: ./
          destination: ./_site

      - name: Checkout target repo
        uses: actions/checkout@v4
        with:
          repository: zoldof/algo-notes
          token: ${{ secrets.PAT_FOR_TARGET }}
          path: target

      - name: Copy and push
        run: |
          rsync -a --delete _site/dist/ target/
          cd target

          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

          git add .
          git commit -m "Deploy $(date -u +%Y-%m-%dT%H:%M:%SZ)" || exit 0
          git push origin main
